/******************************************************/
/* Web del romanticismo - hoja de estilo de autores   */
/* Autor: Pablo García Muñoz                          */
/* Version 1.0 - 7/11/2022                           */
/******************************************************/

/******************** estilo general ******************/

@font-face{
    font-family: escritura;
    src: url("../fonts/I\ Love\ Glitter.ttf");
}

body{
    font-family: escritura;
    font-size: 1.7em;
    background-color: rgb(19, 29, 32);
    background-image: url("../images/piratas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 66%;
}

#wrapper{
    color: rgb(255, 0, 0);
    margin-left: 5%;
    height: 100vh;
}

#wrapper a{
    color: white;
}

#wrapper a:hover{
    color: rgb(80, 80, 80);
}

.fa{
    font-size: 200% !important;
}